{% extends 'index.html' %}

{% block content %}

<h1>Book list</h1>

<a href="{% url 'book_create' %}">Add a new Book</a>

<ul>
    {% for book in books %}
    <li>
        <h2>{{book.title}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.desc}}</p>
        <img src="{{book.image.url}}" alt="" style="width: 50px; height: auto;">
        <a href="{% url 'book_detail' book.pk %}">Detail</a>
        <a href="{% url 'book_delete' book.pk %}">Edit</a>
        <a href="{% url 'book_update' book.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}